/*
 Theme Name: Organic Life Child (Telnet)
 Theme URI: https://www.telnet-inc.com/
 Description: Child theme for Organic Life to customize footer and keep changes update-safe.
 Author: Telnet, Inc.
 Template: organic-life
 Version: 1.0.0
*/